/* ─────────────── RESET & BASE STYLES ─────────────── */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

:root {
  --text: #1e1e1e;
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --neutral-100: rgb(250, 250, 250);
  --neutral-150: rgba(244, 244, 244, 1);
  --neutral-200: rgba(233, 233, 233, 1);
  --neutral-250: rgba(221, 221, 221, 1);
  --neutral-300: rgba(210, 210, 210, 1);
  --neutral-350: rgba(188, 188, 188, 1);
  --neutral-400: rgba(165, 165, 165, 1);
  --neutral-450: rgba(143, 143, 143, 1);
  --neutral-500: rgba(118, 118, 118, 1);
  --neutral-550: rgba(92, 92, 92, 1);
  --neutral-600: rgba(67, 67, 67, 1);
  --neutral-650: rgba(54, 54, 54, 1);
  --neutral-700: rgba(41, 41, 41, 1);
  --neutral-800: rgba(28, 28, 28, 1);
  --neutral-900: rgba(16, 16, 16, 1);
  --brand-100: rgba(204, 214, 255, 1);
  --brand-200: rgba(153, 173, 255, 1);
  --brand-300: rgba(102, 133, 255, 1);
  --brand-400: rgba(51, 92, 255, 1);
  --brand-500: rgba(0, 51, 255, 1);
  --brand-600: rgba(0, 41, 204, 1);
  --brand-700: rgba(0, 31, 153, 1);
  --brand-800: rgba(0, 20, 102, 1);
  --brand-900: rgba(0, 10, 51, 1);
}

/* ─────────────── LAYOUT ─────────────── */
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "aside main-area";
}

/* Sidebar */
aside {
  grid-area: aside;
}

header {
  padding: 0 0 1rem 0;
}

/* ─────────────── NAVIGATION ─────────────── */
.nav {
  flex: 0 0 auto;
  background-color: var(--neutral-150);
  color: var(--brand-500);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#current-page {
  font-weight: 800;
  font-size: 24px;
}

/* ─────────────── MAIN ─────────────── */
main {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.main-area {
  grid-area: main-area;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* ─────────────── FILTERS ─────────────── */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 16px 20px;
  border-bottom: 1px solid var(--neutral-200);
}

.input-filters span {
  display: flex;
  justify-content: center;
}

.open-modal.button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  font-weight: 400;
  color: var(--white);
  background-color: var(--brand-500);
  padding: 8px 16px 8px 14px;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.open-modal.button svg {
  height: 20px;
}

.open-modal.button:hover {
  background-color: var(--brand-700);
}

/* ─────────────── CONTACT LIST ─────────────── */
.contact-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
}
.contact-list {
  display: flex;
  flex-direction: column;
  margin: 0px 24px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-radius: 8px;
  padding: 16px 20px;
  border-bottom: 1px solid var(--neutral-200);
}
.contact:hover {
  background-color: var(--neutral-100);
  cursor: pointer;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.contact button {
  padding: 3px 3px 0 3px;
  border-radius: 4px;
  transition: 250ms ease-in-out;
}
.contact button:hover {
  background-color: var(--neutral-200);
}

.bg-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.personal-info {
  display: flex;
  flex-direction: column;
}
.personal-info span:nth-of-type(1) {
  font-weight: 400;
}
.personal-info span:nth-of-type(2) {
  font-size: 0.9rem;
}
.personal-info span:nth-of-type(3) {
  font-size: 0.9rem;
}

.personal-info span.far {
  text-decoration: underline;
  text-decoration-color: rgba(255, 0, 0, 0.8);
  text-decoration-thickness: 2px;
}
.personal-info span.medium {
  text-decoration: underline;
  text-decoration-color: rgba(235, 153, 0, 0.8);
  text-decoration-thickness: 2px;
}
.personal-info span.close {
  text-decoration: underline;
  text-decoration-color: rgba(0, 255, 0, 0.8);
  text-decoration-thickness: 2px;
}

.contact-options {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}
.last-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  fill: var(--neutral-100);
}
.contact-edit {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
}

.contact-edit > div {
  display: flex;
  gap: 10px;
}
.contact-info-container {
  display: flex;

  gap: 24px;
}
/* ─────────────── HOME ─────────────── */

aside {
  background-color: var(--neutral-150);
  padding: 1rem;
}

.home-area {
  padding: 0 0 1rem 0;
}

.home-area ul li {
  display: flex;
  gap: 10px;
  padding: 4px 8px;
  background-color: var(--neutral-200);
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  border: 0.2px solid transparent;
  cursor: pointer;
}

.home-area li:hover {
  border: 0.2px solid var(--neutral-400);
  background-color: var(--neutral-250);
}

.home-area img {
  height: 20px;
}

#home button {
  font-weight: 400;
}

/* ─────────────── GROUPS ─────────────── */

h3 {
  padding: 0 0 8px 0;
}

#groups {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

#groups > * {
  display: flex;
  justify-content: space-between;
}

.groups-area {
  padding: 1rem 0;
}

.group-item {
  border: 0.2px solid transparent;
}

.group-item:hover {
  border: 0.2px var(--neutral-400) solid;
  border-radius: 4px;
}

.group-item .group-name-button {
  background-color: var(--neutral-200);
  padding: 4px 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: background-color 250ms ease-in-out;
  width: 100%;
}

.group-item .remove-button {
  background-color: var(--neutral-200);
  padding: 4px 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid var(--neutral-250);
}

.group-item .group-name-button:hover {
  background-color: var(--neutral-250);
}
.remove-button:hover {
  background-color: var(--neutral-250);
}

.remove-button svg {
  fill: red;
  height: 14px;
}
.remove-button:hover svg {
  fill: rgb(167, 0, 0);
  transition: all 150ms ease-in-out;
}

.make-group-form {
  display: flex;
}

/* ─────────────── BUTTONS ─────────────── */
button {
  all: unset;
  cursor: pointer;
}
.submit-btn {
  all: unset;
  background-color: var(--brand-500);
  cursor: pointer;
  padding: 12px 24px;
  color: var(--neutral-100);
  border-radius: 5px;
}

#btnMakeGroup {
  padding: 4px;
  border: 0.2px var(--neutral-250) solid;
}

/* ─────────────── SVGs & ICON STYLING ─────────────── */
svg {
  width: 22px;
  height: 22px;
}

.update-today.danger {
  fill: rgba(255, 0, 0);
}

.update-today.warning {
  fill: rgb(255, 208, 0);
}

.update-today.close {
  fill: rgb(28, 170, 0);
}

.update-today:hover {
  opacity: 60%;
  transition: all 150ms ease-in-out;
}
.favourite.is-favourite {
  fill: red;
}
.favourite:hover svg,
.favourite.is-favourite:hover svg {
  opacity: 60%;
  transition: all 150ms ease-in-out;
}
.delete-contact:hover,
.edit-contact:hover svg,
.notes-contact:hover svg {
  fill: var(--neutral-500);
  transition: all 150ms ease-in-out;
}

.notes-contact svg {
  width: 20px;
  height: 20px;
}

/* ─────────────── MODALS ─────────────── */
::backdrop {
  backdrop-filter: blur(2px);
}

#contact-modal {
  margin: auto;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid var(--neutral-150);
}
.add-contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 34px;
}
.input-row {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}
.input-row.color {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 4rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}
#color::-webkit-color-swatch {
  border-radius: 5px;
  border: var(--neutral-900) solid 1px;
}
#contact-modal menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#notes-modal {
  margin: auto;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid var(--neutral-150);
}
#add-notes-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 34px;
}
#add-notes-form div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}
#add-notes-form div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
