* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 0.1px solid red; */
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

:root {
  --accent: #2200ff;
  --text: #1e1e1e;
  --grey: #b3b3b3;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.nav {
  width: 100vw;
  max-width: 1436px;
  display: flex;
  justify-content: space-between;
}

/* FILTERS */

.filters {
  width: 100vw;
  max-width: 1436px;
  display: flex;
  justify-content: space-between;
}

.input-filters {
  display: flex;
  gap: 25px;
}

.open-modal.button {
  all: unset;
  background-color: var(--accent);
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

button {
  all: unset;
  cursor: pointer;
}

/* contact list */

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact {
  width: 100vw;
  max-width: 1436px;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 25px;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.personal-info span:nth-of-type(1) {
  font-weight: 400;
}

.personal-info span:nth-of-type(2) {
  font-size: 0.9rem;
}

.bg-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.contact-options {
  display: flex;
  width: 100%;
  max-width: 850px;
  justify-content: space-between;
}

.last-contact {
  display: flex;
  align-items: center;
  gap: 5px;
  fill: white;
}

.update-today {
  background-color: var(--text);
  padding: 8px 10px;
  border-radius: 50%;
}

.favourite.is-favourite {
  fill: red;
}

.contact-edit {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-edit > div {
  display: flex;
  gap: 10px;
}

/* modal */

::backdrop {
  backdrop-filter: blur(2px);
}

#contact-modal {
  margin: auto;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.input-row {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

#color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 4rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}

#color::-webkit-color-swatch {
  border-radius: 5px;
  border: #1e1e1e solid 1px;
}

.input-row.color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

svg {
  width: 18px;
}
